@import 'eggshell';
@import 'icons';
@import 'highlight';

@mixin uncollapse-margin {
  @include clearfix();
  &:before {
    content: "";
    display: table;
  }
}

body {
  font-size: 1.35rem;
}

p {
  margin-bottom: 10px;
}

hr {
  border: none;
  height: 1px;
  @include margin(20px null 20px null);
  background-color: #ddd;
}

.unstyled {
  margin: 0;
}

#sidebar {
  line-height: 125%;
  padding-top: 50px;
  border-right: 1px solid #f1f1f1;
  background-color: #fff;
  @include position(fixed, 0 null 0 0);
  overflow-y: auto;
}

#logo,
#menu,
#fork {
  width: 180px;
  @include padding(20px 50px 20px 50px);
}

#logo {
  @include position(fixed, 0 null null 0);
  background-color: #fff;
  a {
    display: block;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
      @include size(150px 150px);
    }
    span {
      color: $black;
      font-size: 2rem;
    }
  }
}

#menu {
  padding-bottom: 100px;
  margin-top: 190px;
  ul {
    list-style: none;
    padding-left: 0;
    @include margin(0 null 0 0);
    & > li {
      padding: 0;
      margin-bottom: 25px;
    }
    ul {
      list-style: none;
      padding-left: 5px;
      @include margin(5px null null 0);
      li {
        padding: 0;
        margin-bottom: 2px;
        &:before {
          content: "-";
          margin-right: 5px;
        }
      }
    }
  }
}

#fork {
  background-color: #fff;
  @include position(fixed, null null 0 0);
  .button {
    font-size: 1.1rem;
    @include padding(13px null 13px null);
  }
  .icon-github {
    margin-right: 3px;
    @include position(relative, 1px null null null);
  }
}

#content {
  width: 650px;
  @include padding(30px null 30px null);
  margin-left: 330px;
}

#document {
  section {
    @include uncollapse-margin();
  }
  h2 {
    margin-bottom: 20px;
  }
  pre {
    overflow-x: auto;
    code {
      overflow-wrap: normal;
      white-space: pre;
    }
  }
  ul li, ol li {
    list-style: none;
    padding-bottom: 8px;
    &:before {
      content: "-";
      @include position(relative, null null null -10px);
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

