mixin link(doc)
    if doc.external
        a.external(href='#{doc.external}', target='_blank')= doc.title
    else if doc.promoted
        a(href='#{meta.base}/##{doc.id}')= doc.title
    else
        a(href='#{meta.base}/#{doc.path}')= doc.title
