doctype html
html(lang='en')
    head
        title= title
        link(rel='stylesheet', href='#{meta.base}/assets/style.css')
        script(src='#{meta.base}/assets/vendor.js')
    body(data-spy='scroll', data-target='#nav')
        nav#nav
            include ./nav
        section#main
            block main
