include ./link
section
    a.title(href='#{meta.base}/#') Home
for coll, key in promoted
    section
        a.title(href='##{key}')= meta.collections[key].title
        ul.nav
            for doc in coll
                li
                    +link(doc)
for coll, key in notPromo
    section
        a.title(href='')= meta.collections[key].title
        ul.nav
            for doc in coll
                li
                    +link(doc)
